{erl_opts, [debug_info]}.
{deps, [{bencode,   {git, "https://github.com/hyperimpose/bencode.git",   {branch, "master"}}},
        {polycache, {git, "https://github.com/hyperimpose/polycache.git", {branch, "master"}}}]}.

{pre_hooks, [{"(linux|darwin|solaris)",   compile, "make"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake"},
             {"(linux|darwin|solaris)",   clean, "make clean"},
             {"(freebsd|netbsd|openbsd)", clean, "gmake clean"}]}.

{shell, [{apps, [bencode, polycache, minutiae]}]}.
